.loginPanel {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh; /* 패널을 화면 전체 높이로 설정 */
    background-color: #f9f9f9;
    padding-right: 20px; /* 오른쪽 여백 추가 */
}

.formContainer {
    display: flex;
    flex-direction: column; /* 세로 배치 */
    width: 100%;
    max-width: 600px; /* 폼 최대 너비 */
    padding: 20px;
    background-color: #ffffff; /* 흰색 배경 */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 */
}

.inputField {
    margin-bottom: 20px; /* 입력 필드 간격 */
}

.loginButton {
    background-color: #0066cc;
    color: white;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.loginButton:hover {
    background-color: #004d99;
}

.signupButton {
    background-color: transparent;
    color: #0066cc;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    border: none;
}

.signupButton:hover {
    text-decoration: underline;
}

.errorText {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
